<h1>Stupid Coaching</h1>
<div class="maindiv">
  <div class="block">
  <p><%= @question %><br>
    <i>- You</i>
  </p></div>
  <div class="block">
  <p><%= @answer %><br>
    <i>- Your coach</i>
  </p></div>
  <p class="no-decoration"><%= link_to "ask a new question", ask_path %></p>
</div>
