<h1>Stupid Coaching</h1>
<p>Ask your coach anything</p>

<div class="form">
  <form action="/answer">
    <input type="text" name="question" placeholder="type your question" class="text-field">
    <input type="submit" value="Ask!" class="blue-button">
  </form>
</div>

